/*--------------Lemonade Grid-System-------------------*/
/*re-named classes for better readability*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both;
    /*overflow: auto*/ }

[class*='grid-'] {
  float: left;
  padding: 0.7em;
  /*overflow: auto;*/
}

.grid-1 {
  width: 100%; }

.grid-2 {
  width: 50%; }

.grid-3 {
  width: 33.33333%; }

.grid-4 {
  width: 25%; }

.grid-5 {
  width: 20%; }

.grid-6 {
  width: 16.66667%; }

.grid-7 {
  width: 14.28571%; }

.grid-8 {
  width: 12.5%; }

.grid-9 {
  width: 11.11111%; }

.grid-10 {
  width: 10%; }

.grid-11 {
  width: 9.09091%; }

.grid-12 {
  width: 8.33333%; }

.grid-25 {
  width: 25%; }

.grid-40 {
  width: 40%; }

.grid-60 {
  width: 60%; }

.grid-75 {
  width: 75%; }

@media (max-width: 30em) {
  .grid-1 {
    width: 100%; }
  .grid-2 {
    width: 100%; }
  .grid-3 {
    width: 100%; }
  .grid-4 {
    width: 100%; }
  .grid-5 {
    width: 100%; }
  .grid-6 {
    width: 100%; }
  .grid-7 {
    width: 100%; }
  .grid-8 {
    width: 100%; }
  .grid-9 {
    width: 100%; }
  .grid-10 {
    width: 100%; }
  .grid-11 {
    width: 100%; }
  .grid-12 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .grid-4, .grid-6, .grid-8, .grid-10, .grid-12 {
    width: 50%; }
  .grid-1, .grid-2, .grid-3, .grid-5, .grid-7, .grid-9, .grid-11 {
    width: 100%; } }

@media (min-width: 5em) and (max-width: 30em) {
    [class*='grid-'] {
      padding: 1em 0 1em 0;
    }
  }
/*@media (min-width: 50em) and (max-width: 68.75em) {
  .grid-2, .grid-7 {
    width: 100%; }
  .grid-4, .grid-8, .grid-10, .grid-12 {
    width: 50%; } }*/

/*After testing the app scales fine until smart phone size
refab for smart phones include below.  Each module requiring refab
has its on respective @media query so that cascade flows correctly.
In the future scaling from mobile up will be a better option*/



/*--------------App Layout-------------------*/
body {
  width: 100%;
}

main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

nav {
  margin-right: .8em;
  overflow: auto;
}

article {

}
hr {
  margin-top: 1.2em;
}

@media (min-width: 5em) and (max-width: 30em) {
  main {
    width: 100%;
  }
}
/*--------------Header Layout-------------------*/
.page-header {
  margin-bottom: 2em;
}

.app-header .logo-title {
  margin: .65em 0 0 .2em;
}

.hidden-break-mobile {
  display: none;
}

@media (min-width: 5em) and (max-width: 30em) {
  .app-header .main-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .app-header .logo-title {
    margin: .2em 0 0 0;
    display: block;
  }
}
/*--------------Window Box Modules-------------------*/
.window-box-title {
  margin-bottom: 1em;
}

/*--------------Nav Layout-------------------*/
nav {
  float: right;
}

.nav-horizontal {
  overflow: auto;
}

ul li {
  overflow: auto;
}

.nav-horizontal li {
  float: left;
}

.nav-vertical .nav-link {
  width: 7em;
}

@media (min-width: 5em) and (max-width: 30em) {
  nav {
    float: none;
    margin: .2em 0 0 .2em;
  }
  .nav-horizontal,
  .nav-horizontal li {
    float: none;
    display: block;
  }
}
/*--------------Form Layout-------------------*/
label, input {
  margin-top: .9em

}

textarea {
  width: 100%;
  min-height: 10em;
  margin: .9em 0 .9em 0;
}

.subscribe-form {

  clear: both;
}

/*--------------Blog Layout-------------------*/
.blog-post {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.blog-image {
  width: 70%;
  margin-bottom: .5em;
}

.blog-header {
  margin-bottom: 2em;
}

.blog-header .blog-title {
  margin: .1em;
}

.blog-header .blog-post-author {
  margin-top: 2em;
}
.blog-p {
  margin: 1em 0 1em 0;
}

.blog-post-break {
  margin: .5em 0 .5em 0;
}

@media (min-width: 5em) and (max-width: 30em) {
  .blog-post {
    width: 100%;
  }

  .blog-image {
    width: 100%;
  }
}
/*--------------Footer Layout-------------------*/

footer {
  margin-top: 2.7em;
}

.footer {
  text-align: center;
  width: 30%;
  clear: both;
  margin-right: auto;
  margin-left: auto;
}

.icons {
  display: inline-block;
  margin-right: .2em;
  margin-left: .2em;
}

.footer-text {
  margin-top: 1.5em;
}

@media (min-width: 0em) and (max-width: 30em) {
  .footer {
    width: 100%;
  }
}
