/*--------------App Module-------------------*/
/*This following style rule is for the stylesheet */
.component-section {
  padding: 3em;
  border: .1em solid rgba(0, 0, 0, 0.2);
}
.bit-3 {
  border: 1px solid black;
}
/*--------------Header Module-------------------*/
.app-header {
  background-color: rgba(54, 48, 49, 1.0);
  padding: 1em 0 0 1em;
  border-bottom: .2em solid rgba(178, 80, 36, 1.0);
}
.app-header img{
  vertical-align: top;
}
.app-header h1 {
  margin: .4em 0 0 .1em;
  display: inline-block;
  vertical-align: top;
  font-size: 2.7em;
  font-weight: 800;
}

.page-header {
  padding: 6em;
  background-color: white;
  border-bottom: .1em solid rgba(54, 48, 49, 0.2);
}

.page-header h2 {
  font-size: 3.2em;
  font-weight: 400;
}

.page-header h5 {
  font-size: 1em;
  color: rgba(54, 48, 49, 1.0);
  font-weight: 400;
}

/*--------------Nav Modules-------------------*/
.nav-horizontal li {
  display: block;
}

.nav-vertical li {
  width: 7em;
  list-style: none;
}

/*--------------Form Modules-------------------*/
.contact-form {
  padding: 2em 0 2em 0;
}
.subscribe-form input{
  display: inline-block;
  padding: .1em;
}

#subscribe-btn {
  display: inline-block;
  padding: .2em .5em .2em .5em;
  border: ;
  border-radius: .5;
  font-size: .95em;
}

/*--------------Writing Modules-------------------*/
.blog-post {
  border-bottom: .1em solid rgba(54, 48, 49, 0.2);
}

.blog-header {
  text-align: center;
}

.blog-header h2 {
  font-weight: 800;
  font-size: 2em;
}

.text-content {
  padding: 1em 2em 1em 2em;
  text-align: justify;
  font-weight: 200;
  color: rgba(54, 48, 49, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}

.footer-text {
  font-size: .7em;
}
/*--------------Footer-------------------*/
.footer {
  color: white;
  padding: 2em;
}
