/*--------------App States-------------------*/
button:hover {
  color: white;
  border: .1em solid rgba(178, 80, 36, 1.0);
  background-color: rgba(178, 80, 36, 1.0);
}

/*the below state is for any modules that are to be obstructed
through JS.  This way if JS is dis-abled the content is still
visible. */
.hidden {
  display: none;
}

/*--------------Nav States-------------------*/
.nav-link-active:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-link:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: .1em solid rgba(178, 80, 36, 0.0);
}

.nav-link-active {
  border-top: .1em solid rgba(178, 80, 36, 1.0);
  border-left: .1em solid rgba(178, 80, 36, 1.0);
  border-right: .1em solid rgba(178, 80, 36, 1.0);
}

@media (min-width: 5em) and (max-width: 30em) {
  .nav-link-active {
    border: .1em solid rgba(178, 80, 36, 1.0);
  }
}

/*--------------Form States-------------------*/
.create-account:hover {
  cursor: pointer;
  color: rgba(178, 80, 36, 1.0);
}

.fadeIn {
  animation: fadeIn 0.5s linear;
  -webkit-animation: fadeIn 0.5s linear;

  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

/*--------------Window-Box States-------------------*/
.window-box:hover {
  background-color: rgba(54, 48, 49, 0.3);
}
.window-box:hover .window-box-title {
  color: white;
}

/*--------------Icon States-------------------*/
.icons:hover {
  cursor: pointer;
  color: rgba(178, 80, 36, 1.0);
}
