/*--------------App State-------------------*/
button:hover {
  color: white;
  border: .1em solid rgba(178, 80, 36, 1.0);
  background-color: rgba(178, 80, 36, 1.0);
}

/*--------------Nav State-------------------*/
.nav-link-active:hover,
.nav-link:hover {
  cursor: pointer;
  /*font-weight: 500;*/
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: .1em solid rgba(178, 80, 36, 0.0);
}

.nav-link-active {
  border-top: .1em solid rgba(178, 80, 36, 1.0);
  border-left: .1em solid rgba(178, 80, 36, 1.0);
  border-right: .1em solid rgba(178, 80, 36, 1.0);
}

@media (min-width: 5em) and (max-width: 30em) {
  .nav-link-active {
    border: .1em solid rgba(178, 80, 36, 1.0);
  }
}
/*--------------Window-Box States-------------------*/
.window-box:hover {
  background-color: rgba(54, 48, 49, 0.3)
}
.window-box:hover .window-box-title {
  color: white;

}`
