/*--------------App Styles-------------------*/
body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: rgba(54, 48, 49, 1.0);
  background-color: rgba(239, 235, 233, 1.0);
}

h1 {
  color: rgba(178, 80, 36, 1.0);
}

h2 {
  color: rgba(99, 143, 67, 1.0)
}

hr {
  border-top: 1px solid rgba(54, 48, 49, 0.2);
  border-right: none;
  border-bottom: none;
  border-left: none;
}

img {
  border: none;
}

button {
  padding: .5em;
  font-size: 1.4em;
  color: white;
  background-color: rgba(178, 80, 36, 1.0);
  border-radius: .5em;
  border: .1em solid rgba(178, 80, 36, 1.0);
}

button:hover {
  border: .1em solid rgba(178, 80, 36, 0.5);
  background-color: rgba(178, 80, 36, 0.5);
}
/*This following style rule is for the stylesheet */
.component-section {
  padding: 3em;
  border: .1em solid rgba(0, 0, 0, 0.2);
}

/*--------------Header Styles-------------------*/
.app-header {
  background-color: rgba(54, 48, 49, 1.0);
  padding: 1em 0 0 1em;
  border-bottom: .25em solid rgba(178, 80, 36, 1.0);
}

.app-header h1 {
  display: inline-block;
  font-size: 3em;
  font-weight: 800;
}

.page-header {
  padding: 1em 0 0 1em;
  background-color: white;
  border-bottom: .15em solid rgba(54, 48, 49, 1.0);
}

.page-header h2 {
  font-size: 2em;
}

.page-header h5 {
  font-size: 1em;
  color: rgba(54, 48, 49, 1.0);
  font-weight: 400;
}

/*--------------Nav Style-------------------*/
nav li{
  font-size: 1.2em;
  padding: .5em;
  border: .1em solid white;
}

nav li:hover {
  font-weight: 500;
  color: white;
  background-color: rgba(210, 128, 73, 1.0);
  border: .1em solid rgba(210, 128, 73, 1.0);
}

.nav-horizontal .active {
  border: .1em solid rgba(210, 128, 73, 1.0);
}

.nav-horizontal li {
  display: block;
}

.nav-vertical li {
  width: 7em;
  list-style: none;
}

.nav-vertical .active {
  border: .1em solid rgba(210, 128, 73, 1.0);
}

/*--------------Contact Style-------------------*/
form {
  padding:2em;
  background-color: rgba(240, 233, 194, 1.0);
}

fieldset {
  padding: 0 1em 1em 1em;
  background-color: white;
  border: none;
}

input, label {
  display: block;
}

label {
  font-size: 1.1em
}

textarea {
  border: .1em solid rgba(54, 48, 49, 0.2);
}

.subscribe-form input{
  display: inline-block
}

#subscribe {
  display: inline-block;
  padding: .2em .5em .2em .5em;
  border-radius: 0;
  font-size: .95em;
}

/*--------------Blog Style-------------------*/
.blog-post {
  padding: 0 0 1em 0;
  background-color: rgba(240, 233, 194, 1.0);
  border-bottom: .1em solid rgba(54, 48, 49, 0.2);
}

.blog-header {
  text-align: center;
}

.blog-header h2 {
  font-weight: 800;
  font-size: 2em;
}

.blog-written-content {
  padding: 1em 3em 1em 3em;
  text-align: justify;
  font-weight: 200;
  color: rgba(54, 48, 49, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}
